* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 16px;
}

.center {
    text-align: center;
}

h1, h2 {
    font-family: "Gravitas One", serif;
    padding: 2rem 1rem;
}

h3, h4 {
    font-family: Iceland, sans-serif;
    padding: 1rem;
    font-size: 1.5rem;
}

header, footer {
    background-color: #e6e4e1;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "sidebar gallery"
                         "team team";   
}

.sidebar {
    grid-area: sidebar;
}

.sidebar nav, .sidebar ul {
    height: 100%;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #353535;

}

.sidebar nav ul li {
    list-style: none;
    font-family: "Roboto Condensed", serif;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    background-color: yellow;
    border-radius: 0.5rem;
    margin: 1.5rem 0.5rem;
}

.sidebar nav ul li a {
    text-decoration: none;
}



.gallery {
    grid-area: gallery;
    padding: 1rem;
    background-color: #666666;
}

.team-members {
    grid-area: team;
    background-color: #222222;
}

.team-members h2, .team-members h4 {
    color: #fff;
}



.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.25rem;
}

.card {
    padding: 5%;
    background-color: #e6e4e1;
    padding-bottom: 0;
}

.card img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    display: block;
    aspect-ratio: 5/4;
}


@media (max-width: 675px) {
    .sidebar {
        display: none;
    }

    .image-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory; /*horizontal scrolling (x), must snap to nearest snap point set on children*/
        max-width: 100vw;/*ensures container does not grow beyond the viewport*/
        
    }

    .card {
        flex: 0 0 50vh;
        scroll-snap-align: center;/*sets a point for scrolling to snap to*/
    }
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-members .card {
    flex-basis: 20rem;
    padding: 0;
    background-color: transparent;
}

.team-members img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

footer {
    padding: 2rem 1rem;
    font-family: "Roboto Condensed", sans-serif;
}